# URL de l’API (côté navigateur, donc URL publique)
NEXT_PUBLIC_API_URL=https://api-vl.modernworksdigital.com

# Nginx Proxy (nginx-proxy + Let’s Encrypt)
VIRTUAL_HOST=vl.modernworksdigital.com
VIRTUAL_PORT=3000
LETSENCRYPT_HOST=vl.modernworksdigital.com
LETSENCRYPT_EMAIL=thibaut.tsague@faroty.com
